.heading{
    font-size: 25px;
    width: 100%;
    margin: 0;
    box-shadow: 5px 5px 5px grey;
}
.note{
    color: black;
    font-size: 15px;
}
.footer_div{
    position: fixed;
    bottom: 0;
    background-color: grey;
    color: white;
    width: 100%;
    line-height: 2.5;
    text-align: center;
}
canvas{
    animation-name: example;
    animation-duration:4s ;
    animation-iteration-count: infinite;
}
@keyframes example{
    20% {box-shadow: 10px 10px 18px red;}
    40% {box-shadow: 10px 10px 18px yellow;}
    60% {box-shadow: 10px 10px 18px purple;}
    80% {box-shadow: 10px 10px 18px magenta;}
    100% {box-shadow: 10px 10px 18px orange;}

}

video{
    animation-name: example;
    animation-duration:4s ;
    animation-iteration-count: infinite;
}
@keyframes example{
    20% {box-shadow: 10px 10px 18px red;}
    40% {box-shadow: 10px 10px 18px yellow;}
    60% {box-shadow: 10px 10px 18px purple;}
    80% {box-shadow: 10px 10px 18px magenta;}
    100% {box-shadow: 10px 10px 18px orange;}

}
